{% extends "base_home.html.twig" %}
{% block anuncio %}

      {% block title %} Anúncio {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/anuncio.css"{% endblock hrefcss %}
      {% block div_container %}
      <div class="container">
         <div class="anuncio">
            <div class="desenho">
               <img class="anuncio_img" src={{url_da_imagem|e}}> </img>
            </div>
            
            <div class="float">
               <h1>{{titulo}}</h1>
               <h2>Feito por: <a href="/Github/Kamaleao/app/public/view/pós_login/perfil/perfil?username={{usernameserv|e}}">@{{usernameserv}}</a></h2>
               <h2>Preço médio: R${{preço}}</h2>
               <h2>Licença: Licença de {{licença}}</h2>
               <h2>Categoria: {{categoria}}</h2>
               {% if (username != usernameserv) %}
               <button type="submit">Solicitar Serviço</button>
               {% endif %}

               </div><!--float--> 
               
            </div><!--anuncio--> 
            
         

         <div class="info">
            <h1>Descrição do Serviço</h1>
               <div class="sobre">
               <p>{{desc}}</p>
               </div>
            <h1>Anúncios do mesmo criador:</h1>  
               <div class="anun">
                  {% if outrosservicos != null %}
                     {% for servico in outrosservicos %}
                     <div class="item" id='item{{loop.index|e}}'>
                        <img class="anuncio_img" src={{servico.url_da_imagem|e}}></img>
                        <div class="anuncio_titulo">
                           <h1 name="titulo-item" >{{servico.titulo|e}}</h1>
                        </div> <!--anuncio_titulo-->
                        <div class="anuncio_user">
                           <h3 name="username-item">@{{servico.username|e}}</h3>
                        </div> <!--user-->
                        <div class="anuncio_preço">
                           <h2>R${{servico.preço|e}}</h2>
                        </div> <!-- preço -->
                     </div> <!-- item -->
                     {% endfor %}
                  {% else %}
                        <h2>Este usuário não possui outros anúncios, por enquanto.</h2>
                  {% endif %} 
               </div>
         </div>  <!--info-->
      <div id="md-pr" class="md-ct-pos">
         <div id="md-pedido" class ="md-pedido">
         <!--<div>-->
      </div>
      </div>
      {% endblock div_container %}

   {# end body #}
{# end document #}
{% endblock anuncio %}
