{% extends "base_home.html.twig" %}
{% block anuncio %}

      {% block title %} Anúncio {% endblock title %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/anuncio.js"{% endblock srcjs %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/anuncio.css"{% endblock hrefcss %}
      {% block div_container %}
      <div class="container">
         <div class="anuncio">
            <div class="desenho">
               <img class="anuncio_img" src={{url_da_imagem|e}}> </img>
            </div>
            
            <div class="float">
               <h1 id="titSub">{{titulo}}</h1>
               <h2>Feito por: <a href="/Github/Kamaleao/app/public/view/pós_login/perfil/perfil?username={{usernameserv|e}}">@{{usernameserv}}</a></h2>
               <h2 id="valSub">R${{preço}}</h2>
               <h2><strong>Licença:</strong> <span id="liSub">Licença de {{licença}}</span></h2>
               <h2><strong>Categoria:</strong> <span id="catSub">{{categoria}}  </span></h2>
               {% if (username != usernameserv) %}
               <button onclick="abreModal()">Solicitar Serviço</button>
               {% endif %}
               </div>
            </div>
            <div id="md-pr" class="md-ct-pos">
               <div id="md-pedido" class ="md-pedido">
                  <i class="fas fa-times-circle" id="iconfecha" onclick="fechaModal('add')"></i>
                  <h1>Solicite sua arte!</h1>
                  <p>Título do seu pedido</p>
                  <input type="text" id="titulo" name="titulo" maxlength="50" placeholder="Título para o seu pedido"/>
                  <p>Descrição do serviço</p>
                  <textarea id="descricao" name="descricao" rows="5" maxlength="280" placeholder="Descreva detalhadamente como você quer seu pedido"></textarea>
                  <button>Solicitar</button>
               </div>
            </div>
            
         

         <div class="info">
            <h1>Descrição do Serviço</h1>
               <div class="sobre">
               <p>{{desc}}</p>
               </div>
            <h1>Anúncios da Mesma Categoria:</h1>  
               <div class="anun">
                  {% if outrosservicos != null %}
                     {% for servico in outrosservicos %}
                     <div class="item" id='item{{loop.index|e}}'>
                        <img class="anuncio_img" src={{servico.url_da_imagem|e}}></img>
                        <div class="anuncio_titulo">
                           <h1 name="titulo-item" >{{servico.titulo|e}}</h1>
                        </div> <!--anuncio_titulo-->
                        <div class="anuncio_user">
                           <h3 name="username-item">@{{servico.usernameserv|e}}</h3>
                        </div> <!--user-->
                        <div class="anuncio_preço">
                           <h2>R${{servico.preço|e}}</h2>
                        </div> <!-- preço -->
                     </div> <!-- item -->
                     {% endfor %}
                  {% else %}
                        <h2>Não existem outros serviços com a mesma categoria.</h2>
                  {% endif %} 
               </div>
         </div>  <!--info-->
      </div>
      {% endblock div_container %}
{% endblock anuncio %}
