{% extends "base_home.html.twig" %}
{% block anuncio %}

      {% block title %} Anúncio {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/anuncio.css"{% endblock hrefcss %}
      {% block div_container %}
      <div class="container">
         <div class="anuncio">
            <div class="desenho">
               <img class="anuncio_img" src={{url_da_imagem|e}}> </img>
            </div>
            
            <div class="float">
               <h1>{{titulo}}</h1>
               <h2>Preço: R${{preço}}</h2>
               <h2>Licença:</h2>
               <div class="lic">
                  <ul class="licencas">
                     <li class="li-coluna"><a href="#">Licença de {{licença}}</a></li>
                  </ul>
               </div>
               <button type="submit">Solicitar Serviço</button>

               </div><!--float--> 
               
            </div><!--anuncio--> 
            
         

         <div class="info">
            <h1>Descrição do Serviço</h1>
               <div class="sobre">
               <p>{{desc}}</p>
               </div>
            <h1>Outros Anúncios</h1>   
               <div class="anun">
               </div>
         </div>  <!--info-->   
      </div>
      {% endblock div_container %}

   {# end body #}
{# end document #}
{% endblock anuncio %}
