{% extends "base_home.html.twig" %}
{% block home %}
{# document #}
   {# head #}
      {% block title %} Home {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/acesso_livre/style/home.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/acesso_livre/js/home.js"{% endblock srcjs %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->
      <!-- conteudo da home -->
      {% block div_container %}
      <div class="container">
         <h2 class="titulo_home">Anúncios criados recentemente</h3>
         <section class="grid_home">
            {% if servicos is defined %}
                {% for servico in servicos %}
                  <div class="item" id='item{{loop.index|e}}'>
                    <img class="anuncio_img" src={{servico.url_da_imagem|e}}>
                    </img>
                    <div class="anuncio_titulo">
                      <h1 name="titulo-item" >{{servico.titulo|e}}</h1>
                    </div> <!--anuncio_titulo-->
                    <div class="anuncio_user">
                      <h3 name="username-item"><a href="/Github/Kamaleao/app/public/view/pós_login/perfil/perfil?username={{servico.usernameserv|e}}">@{{servico.usernameserv|e}}</a></h3>
                    </div> <!--user-->
                    <div class="anuncio_preço">
                      <h2>R${{servico.preço|e}}</h2>
                    </div> <!-- preço -->
                  </div> <!-- item -->
                {% endfor %}
              {% endif %}
         </section> <!--grid_home-->
      </div> <!--container-->
      {% endblock div_container %}
      <!-- fim conteudo-->   

   {# end body #}
{# end document #}
{% endblock home %}
