{% extends "base_home.html.twig" %}
{% block perfil %}
{# document #}
   {# head #}
      {% block title %} Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/perfil.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/perfil.js"{% endblock srcjs %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      
   {# endhead #}
   {# body #}
      <!-- conteudo de perfil -->
      {% block perfil_icon %}
      <div class="perfil_icon">
        <a class="icone_perf"><i class='bx bxs-user-circle'></i></a>
        
        <h1> @{{Usuario}} </h1>

        {% if Descricao != "" %}
        <p>{{Descricao}}</p>
        {% endif %}

      </div>
      {% endblock perfil_icon %}

      {% block div_container %}
      <main>
        <div class="tab">
          <div><button id="bt1" class="tablinks" onclick="openTab(event, 'Inventário', 'bt1')">inventário</button></div>
          <div><button id="bt2" class="tablinks" onclick="openTab(event, 'Serviços', 'bt2')" autofocus>serviços</button></div>
          <div><button id="bt3" class="tablinks" onclick="openTab(event, 'Comissao', 'bt3')">comissões</button></div>
        </div>

        <div class="all">
          <!-- Inventario -->
          <div id="Inventário" class="tabcontent">
            <p> Conteúdo do Inventário </p>
          </div>
          <!-- Serviços -->
          <div id="Serviços" class="tabcontent">
            <section class="grid_home">
              <div id="editar-excluir-bg" class="editar-excluir-bg">
                <div class="editar-excluir">
                  <i class="fas fa-times-circle" id="iconfecha" onclick="fechaModal('add')"></i>
                  <h1>O que você deseja fazer ?!</h1>
                  <div class="arte"></div>
                  <button class="btmd">Editar</button>
                  <button class="btmd">Excluir</button>
                </div> <!--editar-excluir-->
              </div> <!--editar-excluir-bg-->
              <div id="editar-bg" class="editar-bg">
                <div class="editar">
                  <h1>Editar Anúncio</h1>
                  <div class ="grid_anuncio">
                  <i class="fas fa-times-circle" id="iconfecha1" onclick="fechaModal('add')"></i>
                      <div class="left">
                        <p>Editar Título<i class='bx bxs-pencil'></i></p>
                        <input type="text" id="titulo" name="titulo" maxlength="50" placeholder="Título para o seu anúncio"/>
                        <p>Editar Descrição<i class='bx bxs-pencil'></i></p>
                        <textarea id="descricao" name="descricao" rows="5" maxlength="280" placeholder="Descreva detalhadamente o serviço que será oferecido..."></textarea>
                        <p>Alterar Imagem do Anúncio<i class='bx bxs-pencil'></i></p>
                        <label for="imagem" id="escolha">Escolher arquivo</label>
                        <input type="file" id="imagem" name="servfile" accept="image/jpeg, image/png"></br></br>
                        <span id="file-name"></span>
                      </div>
                      <div class="rigth">
                        <p>Editar Preço<i class='bx bxs-pencil'></i></p>
                        <input type="number" min="0" max="10000" step=0.01 id="preco" name="precoMedio" placeholder="Preço médio para o serviço"/>
                        <p>Alterar Licença<i class='bx bxs-pencil'></i></p>
                        <div class="check"><!-- checkbox para as licencas -->
                          <input type="radio" id="licenca1" name="licenca" value="1">
                          <label for="licenca1">Licença de uso Não-Comercial</label><br>
                          <input type="radio" id="licenca2" name="licenca" value="2">
                          <label for="licenca2">Licença de uso Comercial</label><br>
                          <input type="radio" id="licenca3" name="licenca" value="3">
                          <label for="licenca3">Licença de Download</label><br>
                        </div>
                        <p>Alterar Categoria<i class='bx bxs-pencil'></i></p>
                        <select name="select_cat" id="select_cat" required>
                          <option value="" disabled selected hidden>Por favor, selecione...</option>
                          {% for categoria in sltCategoria %}
                          <option value={{categoria.cd_categoria|escape}}>{{ categoria.nm_categoria|e }}</option>
                          {% endfor %}
                        </select>  
                      </div>
                    </div>
                  <input type="submit" class="botao" name="acao" value="Concluir" /> <br>
                </div> <!--editar-->
              </div> <!--editar-->
              <a id="adicionar" onclick="abreModal('add')">
                <i class='bx bx-plus'></i>
              </a>
              <div id="md-pr" class="md-ct-pos">
                <form id="formAnuncio" class ="form_anuncio" action="/" method="post" enctype="multipart/form-data">
                  <i class="fas fa-times-circle" id="iconfecha" onclick="fechaModal('add')"></i>
                    <h1>Anunciar um Serviço</h1>
                    <p hidden class="form-message">
                      <i class="fas fa-exclamation-triangle"></i>
                    </p>
                    <div class ="grid_anuncio">
                      <div class="left">
                        <p>Título do anúncio</p>
                        <input type="text" id="titulo" name="titulo" maxlength="50" placeholder="Título para o seu anúncio"/>
                        <p>Descrição do serviço</p>
                        <textarea id="descricao" name="descricao" rows="5" maxlength="280" placeholder="Descreva detalhadamente o serviço que será oferecido..."></textarea>
                        <p>Escolha uma imagem para o Anúncio:</p>
                        <label for="imagem" id="escolha">Escolher arquivo</label>
                        <input type="file" id="imagem" name="servfile" accept="image/jpeg, image/png"></br></br>
                        <span id="file-name"></span>
                      </div>
                      <div class="rigth">
                        <p>Preço médio</p>
                        <input type="number" min="0" max="10000" step=0.01 id="preco" name="precoMedio" placeholder="Preço médio para o serviço"/>
                        <p>Tipos de Licenças</p>
                        <div class="check"><!-- checkbox para as licencas -->
                          <input type="radio" id="licenca1" name="licenca" value="1">
                          <label for="licenca1">Licença de uso Não-Comercial</label><br>
                          <input type="radio" id="licenca2" name="licenca" value="2">
                          <label for="licenca2">Licença de uso Comercial</label><br>
                          <input type="radio" id="licenca3" name="licenca" value="3">
                          <label for="licenca3">Licença de Download</label><br>
                        </div>
                        <p>Categoria</p>
                        <select name="select_cat" id="select_cat" required>
                          <option value="" disabled selected hidden>Por favor, selecione...</option>
                          {% for categoria in sltCategoria %}
                          <option value={{categoria.cd_categoria|escape}}>{{ categoria.nm_categoria|e }}</option>
                          {% endfor %}
                        </select>  
                      </div>
                    </div>
                  <input type="submit" class="botao" name="acao" value="Anunciar" /> <br>
                </form>
              </div>
              {% if servicos is defined %}
                {% for servico in servicos %}
                  <div class="item">
                    <img class="anuncio_img" src={{servico.url_da_imagem|e}}>
                      {# <div class="opacidade">
                          <i class='bx bxs-pencil'></i><br/>
                      </div> #}
                    </img>
                    <div class="anuncio_titulo">
                      <h1>{{servico.titulo|e}}</h1>
                    </div> <!--anuncio_titulo-->
                    <div class="anuncio_user">
                      <h3>@{{servico.username|e}}</h3>
                    </div> <!--user-->
                    <div class="anuncio_preço">
                      <h2>R${{servico.preço|e}}</h2>
                    </div> <!-- preço -->
                  </div> <!-- item -->
                {% endfor %}
              {% endif %}
            </section> <!--grid_home-->
          </div>
          <!-- Comissao -->
          <div id="Comissao" class="tabcontent">
            <p> Conteúdo da Comissão </p> 
          </div>

          <div class="clearfix"></div>

          <script>
            function openTab(evt, contentName, idName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(contentName).style.display = "block";
              evt.currentTarget.className += " active";
              document.getElementById(idName).focus();
            }
            window.onload = function() {
              document.getElementById('bt2').click();
            }

            var $input    = document.getElementById('imagem'),
            $fileName = document.getElementById('file-name');

            $input.addEventListener('change', function(){
              $fileName.textContent = this.value;
            });

            /*function iniciaModal(modalID) {
              const modal = document.getElementById(modalID);
              modal.classList.add('mostrar');
              modal.addEventListener('click', (e) => {
                if(e.target.id == 'modalID' || e.target.className == '.close') {
                  modal.classList.remove('mostrar');
                }
                
              });
            }
            
            const clickimg = document.querySelector('.anuncio_titulo');
            clickimg.addEventListener('click', () => iniciaModal('editar-excluir-bg'));*/
            
          </script>

        </div> <!--all-->
      </main>
      {% endblock div_container %}
    
      <!-- fim conteudo de perfil -->   
   {# end body #}
{# end document #}
{% endblock perfil %}