{% extends "base_home.html.twig" %}
{% block perfil %}
{# document #}
   {# head #}
      {% block title %} Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/servicos.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/perfil.js"{% endblock srcjs %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      
   {# endhead #}
   {# body #}
      <!-- conteudo de perfil -->
      {% block perfil_icon %}
      <div class="perfil_icon">
        {% if url_foto_perfil is defined %}
          <div class="foto_perf">
            <img class="perf_img" src={{url_foto_perfil|e}}> </img>
          </div>
        {% else %}
          <a class="icone_perf"><i class='bx bxs-user-circle'></i></a>
        {% endif %}
        <h1> @{{Usuario}} </h1>

        {% if Descricao != "" %}
        <p>{{Descricao}}</p>
        {% endif %}

      </div>
      {% endblock perfil_icon %}

      {% block div_container %}
      <main>

        <div class="all">
            <div class="gridzada">
              {% if servicos is defined %}
                  {% for servico in servicos %}
                    <div class="item">
                      <img class="anuncio_img" src={{servico.url_da_imagem|e}}>
                        {# <div class="opacidade">
                            <i class='bx bxs-pencil'></i><br/>
                        </div> #}
                      </img>
                      <div class="anuncio_titulo">
                        <h1>{{servico.titulo|e}}</h1>
                      </div> <!--anuncio_titulo-->
                      <div class="anuncio_user">
                        <h3>@{{servico.username|e}}</h3>
                      </div> <!--user-->
                      <div class="anuncio_preço">
                        <h2>R${{servico.preço|e}}</h2>
                      </div> <!-- preço -->
                    </div> <!-- item -->
                  {% endfor %}
                {% endif %}

            </div> <!--gridzada-->
        </div> <!--all-->
      </main>
      {% endblock div_container %}
      <!-- fim conteudo de perfil -->   
   {# end body #}
{# end document #}
{% endblock perfil %}